<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BloodLink"
        tools:targetApi="31">
        <activity
            android:name=".Patient.Find_A_Blood_Match"
            android:exported="false" />
        <activity
            android:name=".Patient.Find_A_BloodMatch"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBFTNreAJGv6mGK7Xsq9zj0RTBPpG1MyJw" />

        <activity
            android:name=".BloodBank.Patient_Locator"
            android:exported="false"
            android:label="@string/title_activity_blood_match_location" />
        <activity
            android:name=".BloodBank.Maps_Activity"
            android:exported="false" />
        <activity
            android:name=".Donor.Donor_Notifications"
            android:exported="false" />
        <activity
            android:name=".Patient.Settings"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Patient.Profile"
            android:exported="false" />
        <activity
            android:name=".BloodBank.BloodBank_Signup"
            android:exported="false" />
        <activity
            android:name=".Patient.ContactUsActivity"
            android:exported="false" />
        <activity
            android:name=".Patient.DonationProcessActivity"
            android:exported="false" />
        <activity
            android:name=".Patient.AmIEligibleActivity"
            android:exported="false" />
        <activity
            android:name=".Patient.WhyDonateActivity"
            android:exported="false" />
        <activity
            android:name=".Patient.AboutDonation"
            android:exported="false" />
        <activity
            android:name=".DonationSites.LocateDonationSites"
            android:exported="false" />
        <activity
            android:name=".Patient.AvailablePatientsActivity"
            android:exported="false" />
        <activity
            android:name=".Donor.LocateBloodDonors"
            android:exported="false" />
        <activity
            android:name=".BloodBank.LocateBloodBanks"
            android:exported="false" />
        <activity
            android:name=".Donor.Donor_Home"
            android:exported="false" />
        <activity
            android:name=".Hospital.Hospital_SignUp"
            android:exported="false" />
        <activity
            android:name=".Donor.Donor_SignUp"
            android:exported="false" />
        <activity
            android:name=".Patient.Patient_SignUp"
            android:exported="false" />
        <activity
            android:name=".Patient.Patient_Home"
            android:exported="false" />
        <activity
            android:name=".BloodBank.BloodBank_Navigation"
            android:exported="false" />
        <activity
            android:name=".Donor.Donor_Navigation"
            android:exported="false" />
        <activity
            android:name=".Hospital.Hospital_Navigation"
            android:exported="false" />
        <activity
            android:name=".Patient.Patient_Navigation"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".Patient.Patient_Navigation" -->
        <!-- android:exported="false" -->
        <!-- android:label="@string/title_activity_nav" -->
        <!-- android:theme="@style/Theme.BloodLink.NoActionBar" /> -->
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".Navigation"
            android:exported="false" />
        <activity
            android:name=".SignUP"
            android:exported="false" />
        <activity
            android:name=".MainActivity3"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>