<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BloodLink"
        tools:targetApi="31">
        <activity
            android:name=".Hospital.Hospital_SignUp"
            android:exported="false" />
        <activity
            android:name=".Donor.Donor_SignUp"
            android:exported="false" />
        <activity
            android:name=".Patient.Patient_SignUp"
            android:exported="false" />
        <activity
            android:name=".Patient.Patient_Home"
            android:exported="false" />
        <activity
            android:name=".BloodBank.BloodBank_Navigation"
            android:exported="false" />
        <activity
            android:name=".Donor.Donor_Navigation"
            android:exported="false" />
        <activity
            android:name=".Hospital.Hospital_Navigation"
            android:exported="false" />
        <activity
            android:name=".Patient.Patient_Navigation"
            android:exported="false" />
        <activity
            android:name=".Patient.Nav"
            android:exported="false"
            android:label="@string/title_activity_nav"
            android:theme="@style/Theme.BloodLink.NoActionBar" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".Navigation"
            android:exported="false" />
        <activity
            android:name=".SignUP"
            android:exported="false" />
        <activity
            android:name=".MainActivity3"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>